/* colour palette */
:root {
  --nyanza: #d8f3dc;
  --turquoise-green: #b7e4c7;
  --turquoise-green-dark: #95d5b2;
  --ocean-green: #74c69d;
  --black-text: #000000;
  --ocean-green-dark: #52b788;
  --illuminating-emerald: #40916c;
  --bottle-green: #2d6a4f;
  --brunswick-green: #1b4332;
  --dark-jungle-green: #091c15;
  --white-text: #fff;
}

html {
  font-size: 10px;
  font-family: "Shippori Mincho B1", serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  background-color: var(--dark-jungle-green);
  color: var(--white-text);
  padding: 2rem;
}

h1 {
  margin: 1rem 2rem;
  font-size: 3rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

nav a {
  text-decoration: none;
  color: var(--white-text);
  padding: 2rem;
  margin: 0 1rem;
  font-size: 1.8rem;
}

main {
  display: flex;
  flex-wrap: wrap;
}

/* main content section containers */
.element-container {
  display: flex;
  flex: 1 0 100%;
}

.heading--container {
  flex: 1 0 25%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-right: 2.5px solid var(--dark-jungle-green);
}

.heading--container h2 {
  text-align: right;
  margin: 0 5rem;
  font-size: 2rem;
}

.portfolio--container,
.about-me--container,
.contact-me--container {
  flex: 1 0 75%;
}

.portfolio--container {
  display: flex;
  flex-wrap: wrap;
}

.contact-me--container {
  display: flex;
}

.contact-me {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

/* section item cards */
.portfolio--item {
  align-self: center;
  margin: 2.5rem;
  font-size: 1.6rem;
  margin-left: 5rem;
}

.portfolio--description {
  font-size: 1.2rem;
}

.portfolio--image a img {
  box-shadow: 2px -1px 10px #4d4d4d;
  border-radius: 5%;
}

.about-me--container p {
  font-size: 1.5rem;
  max-width: 100rem;
  margin: 2.5rem;
  text-align: justify;
  margin-left: 5rem;
  margin-right: 5rem;
}

.about-me--img {
  float: left;
  max-width: 15%;
  height: auto;
  margin-right: 2rem;
  border-radius: 100%;
  box-shadow: 2px -1px 10px #4d4d4d;
}

.contact-me--item {
  align-self: center;
  font-size: 1.6rem;
  margin: 3rem;
}

.contact-me--item a,
.portfolio--item a {
  text-decoration: none;
  color: var(--black-text);
}

/* footer styles */
footer {
  margin: 3rem;
}
.footer--content {
  text-align: center;
  font-size: 1.2rem;
}

/* desktop screen animations */
@media screen and (min-width: 993px) {
  a:hover {
    text-decoration: underline;
    transform: scale(1.1, 1.1);
  }

  .animation-1 {
    animation: floatInFromRight 2s ease-out;
  }

  .animation-2 {
    animation: floatInFromRight 3s ease-out;
  }

  .animation-3 {
    animation: floatInFromRight 4s ease-out;
  }

  .animation-4 {
    animation: enlarge 1s ease-out 4s;
  }

  .animation-5 {
    animation: enlarge 1s ease-out 5s;
  }

  .animation-6 {
    animation: enlarge 1s ease-out 6s;
  }

  .animation-7 {
    animation: enlarge 1s ease-out 7s;
  }

  .animation-8 {
    animation: enlarge 1s ease-out 8s;
  }

  .animation-9 {
    animation: enlarge 1s ease-out 9s;
  }

  .animation-10 {
    animation: enlarge 1s ease-out 10s;
  }

  @keyframes floatInFromRight {
    0% {
      transform: translateX(-50rem);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes enlarge {
    0% {
      transform: scale();
    }

    50% {
      transform: scale(1.2, 1.2);
    }

    100% {
      transform: scale();
    }
  }
}

/* tablet screen styles */
@media screen and (max-width: 1100px) {
  h1 {
    font-size: 2rem;
  }
  nav a {
    padding: 0.7rem;
    font-size: 1.25rem;
    align-self: center;
  }

  .about-me--container p {
    margin: 2rem 5rem;
  }
}

/* mobile phone layout */
@media screen and (max-width: 766px) {
  header,
  nav,
  main,
  .element-container {
    flex-direction: column;
  }

  .element-container {
    margin-top: 1rem;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  nav a {
    align-self: center;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: var(--brunswick-green);
    margin: 1rem;
    border-radius: 2%;
  }

  .heading--container {
    margin: 1rem 3rem;
    border-right: 0px;
    border-bottom: 2.5px solid var(--dark-jungle-green);
  }

  .heading--container h2 {
    margin: 1rem 2rem;
    text-align: left;
  }

  .portfolio--item {
    flex-basis: 100%;
  }

  .portfolio--image a img {
    width: 60%;
    height: auto;
  }

  .contact-me--item {
    margin: 2rem auto;
  }
}
